<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Management System | Add Construction Site</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/svg/Logo.svg' %}" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>
    <div class="layer"></div>
    <main class="page-center">
        <article class="sign-up">
            <h1 class="sign-up__title">Add New Construction Site</h1>            
            <form class="sign-up-form form" action="" method="POST">
                {% csrf_token %}
                <label class="form-label-wrapper">
                    <p class="form-label">Site Name</p>
                    {{form.sname}}

                </label>
                
                <label class="form-label-wrapper">
                    <p class="form-label">Site Address</p>
                    {{form.location}}

                </label>
                <label class="form-label-wrapper">
                    <p class="form-label">Site Contact no.</p>
                   {{form.contact}}
                </label>
                
                <label class="form-label-wrapper">
                    <p class="form-label">Site Status</p>
                    {{form.status}}
                    
                    <!-- <input class="form-input" list="worker_type" type="text" placeholder="Enter Construction Site Status"
                        required>
                    <datalist id="worker_type">
                        <option value="Active">
                        <option value="Completed">
                        <option value="On Hold"> -->
                    </datalist>

                
                <br/>
                <input type="submit" name="add site">
            </form>
        </article>
    </main>
    <!-- Chart library -->
    <script src="./plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="js/script.js"></script>
</body>

</html>