{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Worker Management System | Dashboard</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/svg/logo.svg' %}" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="/" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">WMS</span>
                    <span class="logo-subtitle">Company</span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class=" " href="/home"><span class="icon home" aria-hidden="true"></span>Home</a>
                </li>
                <li>
                    <a class=" " href="attendance">
                        <span class="icon document" aria-hidden="true"></span>Attendance
                    </a>
                </li>
                <li>
                    <a class=" " href="/workers">
                        <span class="icon user-3" aria-hidden="true"></span>Workers
                    </a>
                </li>
                <li>
                    <a class=" " href="/construction">
                        <span class="icon location" aria-hidden="true"></span>Construction Site
                    </a>
                </li>
                <li>
                    <a class="active" href="/paysalary">
                        <span class="icon wallet" aria-hidden="true"></span>Pay Salary
                    </a>
                </li>
                <li>
                    <a class=" " href="/complaints">
                        <span class="icon message" aria-hidden="true"></span>Complaints
                    </a>
                    <span class="msg-counter">2</span>
                </li>

                
                

                
                
                <!-- for sidebar toggle pls do not touch -->
                <li>
                  <a class="show-cat-btn" href="##">
                      <!-- <span class="icon document" aria-hidden="true"></span>Posts -->
                      <span class="category__btn transparent-btn" title="Open list">
                      </span>
                  </a>
                  <ul class="cat-sub-menu">
                  </ul>
                </li>




            </ul>
            <span class="system-menu__title">system</span>
            <ul class="sidebar-body-menu">
                
                
                <li>
                  <a class=" " href="/empreg">
                    <span class="icon profile" aria-hidden="true"></span>Employee
                </a>
                </li>
                <li>
                    <a href="##"><span class="icon setting" aria-hidden="true"></span>Settings</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}"><span class="icon log-out" aria-hidden="true"></span>Log-out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="" type=""><img src="" alt=""></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">WMS.</span>
                <span class="sidebar-user__subtitle">Support manager</span>
            </div>
        </a>
    </div>
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
        <h2 class="main-title">Pay Salary</h2>
    </div>
    <div class="main-nav-end">
      



      <!-- for sidebar toggle do not touch -->
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>






      <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        <span class="sr-only">Switch theme</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>
      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          <span class="sr-only">My profile</span>
          <span class="nav-user-img">
            <!-- <picture><source srcset="{% static 'img/avatar/avatar-illustrated-02.webp' %}" type="image/webp"><img src="{% static 'img/avatar/avatar-illustrated-02.png' %}" alt="User name"></picture> -->
          </span>
        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">
          <li><a href="##">
              <i data-feather="user" aria-hidden="true"></i>
              <span>My Profile</span>
            </a></li>
          <li><a href="##">
              <i data-feather="settings" aria-hidden="true"></i>
              <span>Account settings</span>
            </a></li>
          <li><a class="danger" href="{% url 'logout' %}" >
              <i data-feather="log-out" aria-hidden="true"></i>
              <span>Log out</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <article class="white-block">
            <div class="search-wrapper">
                <i data-feather="search" aria-hidden="true"></i>
                <input type="text" placeholder="Enter keywords ..." required>
            </div>
        </article>
       
        <div class="row stat-cards-workers">
          {% for i in sal %}
          <div class="col-md-6 col-xl-3">
            <a href="{% url 'calculate_salary' i.id %}" >
            <article class="stat-cards-item-workers">
              <div class="stat-cards-icon-workers primary">
                <i data-feather="user" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info-workers">
                <p class="stat-cards-info__name-workers">{{i}}</p>
                <p class="stat-cards-info__title-workers">Category : {{i.category}}</p>
                <p class="stat-cards-info__progress"> <span class="stat-cards-info__profit success"> Salary per day : {{i.spd}}</span></p>
              </div>
            </article></a>
          </div>
          {% endfor %}
         
    
          
        </div>
      </div>
    </main>
    <!-- ! Footer -->
    <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>Created by -Deepak Suthar | -Somya R Patra | - Vibhav Rane</p>
    </div>
    <ul class="footer-end">
      <li><a href="##">About</a></li>
      <li><a href="##">Contact Us</a></li>
    </ul>
  </div>
</footer>
  </div>
</div>
<!-- Chart library -->
<script src="{% static 'plugins/chart.min.js' %}"></script>
<!-- Icons library -->
<script src="{% static 'plugins/feather.min.js' %}"></script>
<!-- Custom scripts -->
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>