<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>


  <link rel="shortcut icon" href="{% static 'img/svg/Logo.svg' %}" type="image/x-icon">
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signin-content">
                    <form method="POST" action="" id="signin-form" class="signin-form">
                        {% csrf_token %}
                        <h2 class="form-title">Reset account password</h2>
                        <!-- <div class="form-group">
                            <input type="text" class="form-input" name="username" id="username" placeholder="Enter Username"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="password" placeholder="Enter Password"/>
                            <span toggle="#password" class="zmdi-eye zmdi field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            
                        </div>
                        <div class="form-group">
                            <input type="submit" name="emplog" id="submit" class="form-submit" value="Sign up"/>
                        </div> -->
                        {{form}}
                        <input type ="submit" name = "Send Email">


                    </form>
                    <!-- <a href = "{% url 'workers' %}">
                        Forgotten Password ?</a>
                    
                    <p class="loginhere">
                        Welcome to WMS, It's great to have you!!
                    </p> -->
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>



